
  <style>
    #visualcv-iframe { width: 100%; height: 900px; margin-top: 55px; left: 0px; z-index: 1 }
    .vcv { position: absolute; bottom: 0px; color: #ccc; text-align: center; z-index: 0 }
  </style>

  <iframe id="visualcv-iframe" frameborder="0" src="https://www.visualcv.com/gokhandemirhan?utm_campaign=VCV&amp;utm_medium=web&amp;utm_source=cv-page">
    <a href="https://www.visualcv.com/gokhandemirhan?utm_campaign=VCV&amp;utm_medium=web&amp;utm_source=cv-page">My VisualCV</a>
  </iframe>

