<section id="works"></section>
<div class="container">
    <h1 class="mt">Works</h1>
    <div class="row centered mb" id="works-container">


        {% for post in site.categories['work'] %}
        <!--single post code-->

        {% if post.state == "published" %}
        <div class="col-lg-4 col-md-4 col-sm-4 gallery">
            <a href="{{post.url}}"><img src="{{ post.image }}" class="img-responsive"></a>
        </div>
        {% else %}

        {% endif %}



        {% endfor %}
        <h1>More works will be added soon</h1>
    </div><! --/row -->
</div><! --/container -->